$basic-grey: #333;
$light-grey: #666;
$lighter-grey: #666667;
$very-light-grey: #e6e6e6;
$transparent-grey: #f8f8f9;

$basic-orange: #fa9923;
$transparent-orange: #fa99231a;

$accident-grey: #464646;

$flat-white: #fff;
$transparent-white: #f7f7f7;

$twitter: #00aced;
$facebook: #3b5998;
