@import "styles/helpers/colors";

.wrapper {
  display: block;
  margin-bottom: 15px;
  position: relative;

  @media (min-width: 767px) {
    margin: 0;
  }
}

.thumb {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: $flat-white;
  height: 280px;
  overflow: hidden;
  position: relative;

  img {
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.price {
  background-color: rgba($accident-grey, 0.38);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  left: 15px;
  padding: 9px 10px;
  position: absolute;
  top: 15px;
}

.like {
  background-color: rgba($accident-grey, 0.38);
  border-radius: 6px;
  padding: 9px 10px;
  position: absolute;
  right: 15px;
  top: 15px;

  svg {
    fill: $flat-white;
    height: 18px;
    width: 18px;
  }
}

.guide {
  bottom: 15px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-areas:
    "face name"
    "face info";
  grid-template-columns: auto 1fr;
  left: 15px;
  position: absolute;

  p {
    font-size: 14px;
    font-weight: 600;
    grid-area: name;
  }

  svg {
    fill: $flat-white;
    height: 8px;
    width: 8px;
  }
}

.info {
  align-items: center;
  display: grid;
  grid-area: info;
  grid-column-gap: 5px;
  grid-template-columns: repeat(4, auto);
}

.face {
  border-radius: 50%;
  grid-area: face;
  height: 36px;
  overflow: hidden;
  width: 36px;

  img {
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.description {
  background-color: $flat-white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  min-height: 125px;
  padding: 15px;

  p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 7px;
  }
}

.type {
  color: $basic-orange;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.location {
  align-items: center;
  color: $basic-grey;
  display: grid;
  grid-column-gap: 7px;
  grid-template-columns: auto 1fr;

  svg {
    height: 16px;
    width: 14px;
  }
}
