@import "styles/helpers/colors";

.wrapper {
  border-bottom: 1px solid $very-light-grey;
  display: block;
  max-width: 730px;
  padding: 30px 0;

  header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-bottom: 20px;
  }

  h3 {
    color: $basic-grey;
    font-size: 20px;
  }
}

.controls {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;

  button {
    background-color: $transparent-grey;
    border-radius: 50%;
    height: 27px;
    overflow: hidden;
    width: 27px;
  }

  svg {
    fill: $light-grey;
    height: 12px;
    width: 5px;
  }
}

.slider {
  overflow: hidden;
  white-space: nowrap;
}

.date {
  align-items: center;
  border: 1px solid $very-light-grey;
  border-radius: 6px;
  display: inline-block;
  height: 73px;
  justify-items: center;
  margin-right: 7px;
  position: relative;
  text-align: center;
  width: 81px;

  p {
    bottom: 0;
    color: $basic-grey;
    font-size: 13px;
    font-weight: 600;
    height: 50%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-transform: uppercase;

    top: 0;

    span:first-child {
      color: $basic-grey;
      font-size: 14px;
      font-weight: 600;
      padding-left: 5px;
    }

    span:last-child {
      color: $light-grey;
      display: block;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.2px;
      margin-top: 7px;
      text-transform: none;
    }
  }
}
