@import "styles/helpers/colors";

.wrapper {
  align-items: center;
  border-bottom: 1px solid $very-light-grey;
  box-shadow: none;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr auto;
  height: 67px;
  padding: 0 15px;

  .icon_search,
  .icon_burger {
    fill: $basic-grey;
    height: 16px;
    width: 16px;
  }

  @media (min-width: 767px) {
    grid-template-columns: auto 1fr auto auto;
    padding: 0 40px;

    .icon-search {
      height: 18px;
      width: 18px;
    }
  }
}

.logo {
  align-items: center;
  display: grid;
  height: inherit;

  a {
    display: block;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  img {
    height: 40px;
    transition: transform 0.14s ease-out;
    width: 60px;
  }
}

.nav {
  font-size: 14px;
  font-weight: 600;
  justify-self: end;

  a {
    color: $light-grey;
    display: inline-block;
    line-height: 67px;
    padding: 0 10px;
    position: relative;

    &::after {
      background-color: $light-grey;
      bottom: 1px;
      content: "";
      height: 2px;
      left: 0;
      margin: auto;
      opacity: 0;
      position: absolute;
      right: 0;
      transition: opacity 0.2s ease-out;
      width: calc(100% - 20px);
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
}

.right_column {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: auto auto;
  justify-items: end;

  @media (min-width: 767px) {
    align-items: center;
    border-right: 1px solid $very-light-grey;
    height: inherit;
    padding-right: 12px;
  }
}

.profile {
  align-items: center;
  display: grid;
  position: relative;

  div {
    border-radius: 50%;
    height: 40px;
    margin-left: 15px;
    margin-right: -15px;
    overflow: hidden;
    width: 40px;
  }

  img {
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.buttons {
  align-items: center;
  padding-left: 14px;

  button {
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 15px;
    transition: color 0.12s ease-out;

    &:first-child {
      border: 1px solid $very-light-grey;
      color: $light-grey;
    }

    &:last-child {
      background-color: $transparent-grey;
      border: 1px solid $transparent-grey;
      color: $basic-grey;
    }

    &:hover {
      color: $basic-orange;
    }
  }

  span {
    color: $light-grey;
    font-size: 12px;
    padding: 0 12px;
  }
}

.dropdown {
  background-color: $flat-white;
  border: 1px solid $transparent-white;
  border-radius: 6px;
  box-shadow: 0 16px 36px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: -25px;
  top: 50px;
  width: 160px;
  z-index: 99;

  li {
    transition: background-color 0.14s ease-out;

    &:hover {
      background-color: $transparent-orange;

      a,
      button {
        color: $basic-orange;
      }
    }
  }

  a,
  button {
    color: $lighter-grey;
    display: block;
    height: 44px;
    line-height: 44px;
    padding-left: 20px;
    text-align: left;
    transition: color 0.14s ease-out;
  }
}
