@import "styles/helpers/colors";

.wrapper {
  display: block;

  h3 {
    color: $basic-grey;
    font-size: 20px;
    padding: 0 0 20px;
  }
}

.header {
  padding: 20px 15px;

  section {
    &:last-child {
      align-items: baseline;
      display: grid;
      grid-column-gap: 10px;
      grid-template-areas:
        "divider divider"
        "price ratings";
      grid-template-columns: auto 1fr;

      @media (min-width: 767px) {
        display: block;
        padding-top: 16px;
      }
    }
  }

  h1 {
    color: $basic-grey;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 10px;

    @media (min-width: 767px) {
      font-size: 34px;
    }
  }

  hr {
    background-color: $light-grey;
    border-width: 0;
    color: $basic-grey;
    grid-area: divider;
    height: 1px;
    margin: 0 0 20px;
    padding: 0;
    width: 64px;
  }

  @media (min-width: 767px) {
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: 1fr auto;
    margin: 0 auto;
    max-width: 1110px;
    padding: 40px 0;
    width: 90%;
  }
}

.type {
  color: $basic-orange;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.location {
  align-items: center;
  color: $basic-grey;
  display: grid;
  grid-column-gap: 7px;
  grid-template-columns: auto 1fr;
  margin-bottom: 30px;

  svg {
    height: 16px;
    width: 14px;
  }
}

.price {
  color: $basic-grey;
  font-size: 22px;
  font-weight: 600;
  grid-area: price;
  letter-spacing: -0.61px;

  @media (min-width: 767px) {
    font-size: 26px;
  }

  span {
    color: $light-grey;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: normal;
    padding-left: 3px;
  }
}

.ratings {
  border-left: 1px solid $very-light-grey;
  color: $light-grey;
  font-size: 12px;
  grid-area: ratings;
  padding-left: 10px;

  @media (min-width: 767px) {
    border: 0;
    margin-top: 10px;
    padding: 0;
  }

  svg {
    fill: $basic-orange;
    height: 8px;
    width: 9px;
  }

  span {
    padding-left: 5px;
  }
}

.row {
  padding: 0 15px;

  @media (min-width: 767px) {
    margin: 0 auto;
    max-width: 1110px;
    padding: 0;
    width: 90%;
  }
}

.col_1_2 {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.included_excluded {
  border-bottom: 1px solid #e6e6e6;
  color: $basic-grey;
  font-size: 16px;
  max-width: 730px;
  padding: 30px 0;

  svg {
    height: 16px;
    width: 16px;
  }

  .icon_plus {
    fill: $basic-orange;
  }

  .icon_minus {
    fill: $light-grey;
  }

  ul {
    li {
      align-items: center;
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: auto 1fr;
      margin-bottom: 20px;
    }
  }
}

.similar {
  background-color: $transparent-grey;
  padding: 40px 15px;

  @media (min-width: 767px) {
    padding: 40px 0;
  }

  h2 {
    color: $basic-grey;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 30px;

    @media (min-width: 767px) {
      font-size: 34px;
      margin: 0 auto;
      max-width: 1110px;
      width: 90%;
    }
  }

  section {
    @media (min-width: 767px) {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      margin: 0 auto;
      max-width: 1110px;
      padding: 40px 0;
      width: 90%;
    }
  }
}
