@import "helpers/reset";
@import "helpers/transitions";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface:300,400,600,700,900&amp;subset=latin-ext");

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", cursive;
}

button {
  font-family: "Source Sans Pro", sans-serif;
}
